<?xml version="1.0"?>
<config>
    <modules>
        <Ey_ProductPage>
            <version>0.1.0</version>
        </Ey_ProductPage>
    </modules>
    <frontend>
        <routers>
            <ProductPage>
                <use>standard</use>
                <args>
                    <module>Ey_ProductPage</module>
                    <frontName>ProductPage</frontName>
                </args>
            </ProductPage>
        </routers>
    </frontend>  
    <global>
        <resources>
            <ProductPage_setup>
                <setup>
                    <module>Ey_ProductPage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ProductPage_setup>
            <ProductPage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ProductPage_write>
            <ProductPage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ProductPage_read>
        </resources>
        <blocks>
            <ProductPage>
                <class>Ey_ProductPage_Block</class>
            </ProductPage>
        </blocks>
    </global>
</config> 
