<?xml version="1.0"?>
<config>
    <modules>
        <Ey_GTM>
            <version>0.0.1</version>
        </Ey_GTM>
    </modules>
    <global>
        <blocks>
            <ey_gtm>
                <class>Ey_GTM_Block</class>
            </ey_gtm>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <ey_gtm>
                    <file>gtm.xml</file>
                </ey_gtm>
            </updates>
        </layout>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <gtm_cart_product_add_after>
                        <type>model</type>
                        <class>Ey_GTM_Model_Observer</class>
                        <method>afterAddToCart</method>
                    </gtm_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <gtm_sales_quote_remove_item>
                        <type>model</type>
                        <class>Ey_GTM_Model_Observer</class>
                        <method>afterRemoveItemFromCart</method>
                    </gtm_sales_quote_remove_item>
                </observers>
            </sales_quote_remove_item>
        </events>
    </frontend>
</config>