<?xml version="1.0"?>
<config>
    <modules>
        <Ey_Distributor>
            <version>0.0.1</version>
        </Ey_Distributor>
    </modules>
    <global>
        <blocks>
            <ey_distributor>
                <class>Ey_Distributor_Block</class>
            </ey_distributor>
            <distributor>
                <rewrite>
                    <adminhtml_distributor_edit_tabs>Ey_Distributor_Block_Adminhtml_Distributor_Edit_Tabs</adminhtml_distributor_edit_tabs>
                    <adminhtml_distributor_edit_form>Ey_Distributor_Block_Adminhtml_Distributor_Edit_Form</adminhtml_distributor_edit_form>
                </rewrite>
            </distributor>
        </blocks>
        <resources>
            <ey_distributor_setup>
                <setup>
                    <module>Ey_Distributor</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ey_distributor_setup>
            <ey_distributor_setup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ey_distributor_setup_write>
            <ey_distributor_setup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ey_distributor_setup_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ey_Distributor before="Mage_Adminhtml">Ey_Distributor_Adminhtml</Ey_Distributor>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>