<?xml version="1.0"?>
<config>
    <modules>
        <Ey_Protocol>
            <version>0.0.8</version>
        </Ey_Protocol>
    </modules>
    <global>
        <helpers>
            <ey_protocol>
                <class>Ey_Protocol_Helper</class>
            </ey_protocol>
        </helpers>
        <models>
            <ey_protocol>
                <class>Ey_Protocol_Model</class>
                <resourceModel>ey_protocol_resource</resourceModel>
            </ey_protocol>
            <ey_protocol_resource>
                <class>Ey_Protocol_Model_Resource</class>
                <entities>
                    <application>
                        <table>ey_protocol_application</table>
                    </application>
                    <product>
                        <table>ey_protocol_product</table>
                    </product>
                    <tag>
                        <table>ey_protocol_tag</table>
                    </tag>
                    <type>
                        <table>ey_protocol_type</table>
                    </type>
                    <sampletype>
                        <table>ey_protocol_sampletype</table>
                    </sampletype>
                    <file>
                        <table>ey_protocol_file</table>
                    </file>
                    <fileapp>
                        <table>ey_protocol_fileapp</table>
                    </fileapp>
                    <customer>
                        <table>ey_protocol_customer</table>
                    </customer>
                </entities>
            </ey_protocol_resource>
        </models>
        <blocks>
            <ey_protocol>
                <class>Ey_Protocol_Block</class>
            </ey_protocol>
        </blocks>
        <resources>
            <ey_protocol_setup>
                <setup>
                    <module>Ey_Protocol</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ey_protocol_setup>
            <ey_protocol_setup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ey_protocol_setup_write>
            <ey_protocol_setup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ey_protocol_setup_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <ey_protocol>
                <use>standard</use>
                <args>
                    <module>Ey_Protocol</module>
                    <frontName>protocol</frontName>
                </args>
            </ey_protocol>
        </routers>
        <layout>
            <updates>
                <ey_protocol>
                    <file>protocol.xml</file>
                </ey_protocol>
            </updates>
        </layout>
        <events>
            <protocol_download_after>
                <observers>
                    <app_download_after>
                        <type>model</type>
                        <class>Ey_Protocol_Model_Observer</class>
                        <method>afterFileDownloaded</method>
                    </app_download_after>
                </observers>
            </protocol_download_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ey_Protocol before="Mage_Adminhtml">Ey_Protocol_Adminhtml</Ey_Protocol>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <protocol>
                    <file>ey/protocol.xml</file>
                </protocol>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>EY</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ey_protocol>
                                            <title>EY - Protocol</title>
                                        </ey_protocol>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>