<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <ey_protocol translate="label" module="ey_protocol">
            <label>Protocol Database</label>
            <tab>ey_core</tab>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <file translate="label" module="ey_protocol">
                    <label>Files</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <file_location translate="label" module="ey_protocol">
                            <label>File Location</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </file_location>
                        <download_limit translate="label" module="ey_protocol">
                            <label>Download Limit</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </download_limit>
                    </fields>
                </file>
                <application translate="label" module="ey_protocol">
                    <label>Applications</label>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <excluded_search_word translate="label" module="ey_protocol">
                            <label>Excluded search words</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <comment>Separated each word by a comma.</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </excluded_search_word>
                    </fields>
                </application>
                <seo translate="label" module="ey_protocol">
                    <label>SEO</label>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <page_title translate="label" module="ey_protocol">
                            <label>Page Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </page_title>
                        <meta_keyword translate="label" module="ey_protocol">
                            <label>Meta Keywords</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </meta_keyword>
                        <meta_description translate="label" module="ey_protocol">
                            <label>Meta Description</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </meta_description>
                    </fields>
                </seo>
                <email translate="label" module="ey_protocol">
                    <label>Email</label>
                    <sort_order>70</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <activate translate="label" module="ey_protocol">
                            <label>Send a notification when a new application is added</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </activate>
                        <download_activate translate="label" module="ey_protocol">
                            <label>Send a notification when a file is download</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </download_activate>
                        <download_email translate="label" module="ey_protocol">
                            <label>Send a notification to this email when a file is download</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </download_email>
                        <download_template translate="label" module="ey_protocol">
                            <label>Email template ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </download_template>
                    </fields>
                </email>
            </groups>
        </ey_protocol>
    </sections>
</config>