<?xml version="1.0"?>
<config>
    <modules>
        <Icube_Catalog>
            <version>0.1</version>
        </Icube_Catalog>
    </modules>
    <global>
       <models>
          <catalog_resource>
              <rewrite>
                  <category>Icube_Catalog_Model_Resource_Category</category>
              </rewrite>
          </catalog_resource>
       </models>
    </global>
</config>