<?xml version="1.0"?>
<config>
    <modules>
        <Ey_Contact>
            <version>0.0.1</version>
        </Ey_Contact>
    </modules>
    <global>
        <helpers>
            <ey_contact>
                <class>Ey_Contact_Helper</class>
            </ey_contact>
        </helpers>
        <models>
            <ey_contact>
                <class>Ey_Contact_Model</class>
                <resourceModel>ey_contact_resource</resourceModel>
            </ey_contact>
            <ey_contact_resource>
                <class>Ey_Contact_Model_Resource</class>
                <entities>
                    <contact>
                        <table>ey_contact</table>
                    </contact>
                </entities>
            </ey_contact_resource>
        </models>
        <blocks>
            <ey_contact>
                <class>Ey_Contact_Block</class>
            </ey_contact>
        </blocks>
        <resources>
            <ey_contact_setup>
                <setup>
                    <module>Ey_Contact</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ey_contact_setup>
            <ey_contact_setup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ey_contact_setup_write>
            <ey_contact_setup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ey_contact_setup_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <ey_contact>
                <use>standard</use>
                <args>
                    <module>Ey_Contact</module>
                    <frontName>contactus</frontName>
                </args>
            </ey_contact>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ey_Contact before="Mage_Adminhtml">Ey_Contact_Adminhtml</Ey_Contact>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ey_contact>
                    <file>ey/contact.xml</file>
                </ey_contact>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>EY</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ey_contact>
                                            <title>EY - Contact</title>
                                        </ey_contact>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>