<?xml version="1.0"?>
<config>
    <modules>
        <Ey_IpDetect>
            <version>0.1.1</version>
        </Ey_IpDetect>
    </modules>
	<global>
        <models>
            <ipdetect>
                <class>Ey_IpDetect_Model</class>
                <resourceModel>ipdetect_resource</resourceModel>
            </ipdetect>
			<ipdetect_resource>
				<class>Ey_IpDetect_Model_Resource</class>
				<entities>
					<ipdetect>
						<table>ey_ipdetect</table>
					</ipdetect>
					<quoteextend>
						<table>ey_quoteextend</table>
					</quoteextend>					
				</entities>
			</ipdetect_resource>			
        </models>
		<resources>
			<ipdetect_setup>
				<setup>
					<module>Ey_IpDetect</module>
				</setup>
			</ipdetect_setup>
		</resources>
		<helpers>
			<ipdetect>
				<class>Ey_IpDetect_Helper</class>
			</ipdetect>
		</helpers>	
	</global>    
    <frontend>
        <layout>
            <updates>
                <ipdetect>
                    <file>ey_ipdetect.xml</file>
                </ipdetect>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <ipdetect>
                        <class>Ey_IpDetect_Model_Observer</class>
                        <method>handleVisitor</method>
                    </ipdetect>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch_distributor_index_index>
                <observers>
                    <ipdetect_set_country>
                        <type>singleton</type>
                        <class>Ey_IpDetect_Model_Observer</class>
                        <method>handleVisitorAfterCountrySave</method>
                    </ipdetect_set_country>
                </observers>            
            </controller_action_postdispatch_distributor_index_index>
            <controller_action_postdispatch_distributor_index_setDistributer>
                <observers>
                    <ipdetect_set_distributor>
                        <type>singleton</type>
                        <class>Ey_IpDetect_Model_Observer</class>
                        <method>handleVisitorAfterDistributorSave</method>
                    </ipdetect_set_distributor>
                </observers>            
            </controller_action_postdispatch_distributor_index_setDistributer>
            <controller_action_predispatch_qquoteadv_index_addItem>
                <observers>
                    <ipdetect_add_to_quote>
                        <type>singleton</type>
                        <class>Ey_IpDetect_Model_Observer</class>
                        <method>beforeAddToQuote</method>
                    </ipdetect_add_to_quote>
                </observers>              
            </controller_action_predispatch_qquoteadv_index_addItem>
            <controller_action_postdispatch_qquoteadv_index_quoteRequest>
                <observers>
                    <ipdetect_add_to_quote_after>
                        <type>singleton</type>
                        <class>Ey_IpDetect_Model_Observer</class>
                        <method>afterAddToQuote</method>
                    </ipdetect_add_to_quote_after>
                </observers>              
            </controller_action_postdispatch_qquoteadv_index_quoteRequest>          
        </events>
    </frontend>
    <adminhtml>
	   	<acl>
        	<resources>
            	<all>
                	<title>Allow Everything</title>
            	</all>
            	<admin>
                	<children>
                 		<system>
                     		<children>
                         		<config>
                             		<children>
                                 		<ey_ipdetect>
                                     		<title>Ip Detect - All</title>
                                 		</ey_ipdetect>
                             		</children>
                         		</config>
                     		</children>
                 		</system>
                	</children>
            	</admin>
        	</resources>
    	</acl>
	</adminhtml>
</config>