<?xml version="1.0"?>
<config>
    <modules>
        <Ey_Report>
            <version>0.0.1</version>
        </Ey_Report>
    </modules>
    <global>
        <blocks>
            <ey_report>
                <class>Ey_Report_Block</class>
            </ey_report>
        </blocks>
        <helpers>
            <ey_report>
                <class>Ey_Report_Helper</class>
            </ey_report>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ey_Report before="Mage_Adminhtml">Ey_Report_Adminhtml</Ey_Report>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ey_report>
                    <file>ey/report/shipping.xml</file>
                </ey_report>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>EY</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ey_report>
                                            <title>EY - Report</title>
                                        </ey_report>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>