body.ey-applications-application-document .col-main, body.ey-protocol-application-document .col-main { padding-top: 0; }

.application-header-image { margin: 0 0 20px 0; width: 100%; }

body #application-search-form { -webkit-font-smoothing: antialiased; }

#nav-block { position: relative; width: 100%; max-width: 1140px; margin: 20px auto; font-size: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

#nav-block .download-pdf { display: inline-block; }

#nav-block .download-pdf a svg { padding-right: 0; padding-left: 10px; }

#nav-block a { display: inline-block; margin-right: 10px; }

#nav-block a svg { padding-right: 10px; }

#nav-block a.contact-us { display: block; float: right; margin: 0; }

.main-container .app-database { position: relative; width: 100%; max-width: 1140px; margin: 15px auto 30px; -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4); box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4); }

.main-container .app-database.closed { -webkit-transform: translateX(100%); transform: translateX(100%); -webkit-transition: all 1s ease-out; transition: all 1s ease-out; }

.main-container .app-database h1, .main-container .app-database h2, .main-container .app-database h3, .main-container .app-database h4, .main-container .app-database p, .main-container .app-database span { margin: 0; padding: 0; }

.main-container .app-database .st0 { fill: #78777a; }

.main-container .app-database .header { background-color: none; padding-top: 0; font-size: 0; }

.main-container .app-database .header .inner-wrapper { position: relative; height: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }

.main-container .app-database .header .left-header-info { position: relative; display: inline-block; vertical-align: top; width: calc(100% - 160px); }

.main-container .app-database .header .left-header-info:before { position: absolute; content: ''; top: 0; right: 2px; width: 1px; height: 100%; background-color: rgba(0, 0, 0, 0.3); }

.main-container .app-database .header .left-header-info:after { position: absolute; content: ''; top: 0; right: 2px; width: 1px; height: 100%; background-color: rgba(0, 0, 0, 0.3); right: 1px; background-color: rgba(255, 255, 255, 0.3); }

.main-container .app-database .header .left-header-info .inner-wrapper h1 { font-size: 22px; padding-right: 5px; text-align: left; font-family: myriadpro_bold, Arial, Helvetica, sans-serif; color: #004989; }

.main-container .app-database .header .left-header-info .inner-wrapper p { font-size: 14px; padding-top: 5px; color: #78777a; font-family: myriadpro_bold,Arial,Helvetica,sans-serif; }

.main-container .app-database .header .left-header-info .inner-wrapper p span { padding-left: 5px; font-family: myriadpro_regular,Arial,Helvetica,sans-serif; }

.main-container .app-database .header .right-header-info { position: relative; display: inline-block; vertical-align: top; width: 160px; font-size: 16px; padding-right: 0; }

.main-container .app-database .header .right-header-info .inner-wrapper .sample-type { text-align: left; padding-left: 37px; min-height: 25px; display: inline-block; vertical-align: middle; height: 100%; color: #004989; line-height: 25px; }

.main-container .app-database .header .right-header-info .inner-wrapper .sample-type.cellular:before, .main-container .app-database .header .right-header-info .inner-wrapper .sample-type.animal:before, .main-container .app-database .header .right-header-info .inner-wrapper .sample-type.plant:before, .main-container .app-database .header .right-header-info .inner-wrapper .sample-type.human:before, .main-container .app-database .header .right-header-info .inner-wrapper .sample-type.food:before, .main-container .app-database .header .right-header-info .inner-wrapper .sample-type.emulsion:before { content: ''; position: absolute; top: 50%; left: 5px; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: url("../images/app-database-sprites-blue.png"); height: 25px; width: 28px; }

.main-container .app-database .header .right-header-info .inner-wrapper .sample-type.cellular:before { background-position: 0 -21px; width: 23px; height: 20px; }

.main-container .app-database .header .right-header-info .inner-wrapper .sample-type.animal:before { background-position: 0 0; width: 28px; height: 18px; }

.main-container .app-database .header .right-header-info .inner-wrapper .sample-type.plant:before { background-position: 0 -45px; width: 22px; height: 23px; }

.main-container .app-database .header .right-header-info .inner-wrapper .sample-type.human:before { background-position: 0 -70px; width: 25px; height: 25px; }

.main-container .app-database .header .right-header-info .inner-wrapper .sample-type.food:before { background-position: -7px -98px; width: 12px; height: 26px; }

.main-container .app-database .header .right-header-info .inner-wrapper .sample-type.emulsion:before { background-position: 0 -127px; width: 25px; height: 26px; }

.main-container .app-database .header .right-header-info .inner-wrapper .pdf { float: right; color: #78777a; }

.main-container .app-database .header .right-header-info .inner-wrapper .pdf svg { width: 20px; }

.main-container .app-database .col-wrap { position: relative; font-size: 0; overflow: hidden; }

.main-container .app-database .col-wrap.form-open .overlay-bg { opacity: 1; left: 0; }

.main-container .app-database .col-wrap.form-open .download-form { right: 0; opacity: 1; -webkit-transition: all 0.5s ease-in; transition: all 0.5s ease-in; }

.main-container .app-database .col-wrap.form-open .download-form .close-pdf { right: 0; opacity: 1; -webkit-transition: all 1s ease-in-out; transition: all 1s ease-in-out; -webkit-transition-delay: 0.6s; transition-delay: 0.6s; }

.main-container .app-database .col-wrap .col { height: auto; padding-top: 10px; overflow: auto; display: inline-block; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: top; }

.main-container .app-database .col-wrap .col h2 { font-size: 18px; color: #ffffff; margin-bottom: 10px; text-align: left; background-color: #78777a; padding: 5px 10px; font-family: myriadpro_bold, Arial, Helvetica, sans-serif; }

.main-container .app-database .col-wrap .col h3 { font-size: 18px; color: #333333; font-family: myriadpro_bold, Arial, Helvetica, sans-serif; }

.main-container .app-database .col-wrap .col p { font-weight: 400; font-size: 14px; color: #78777a; }

.main-container .app-database .col-wrap .col p span { font-weight: 400; }

.main-container .app-database .col-wrap .left-col { font-size: 16px; padding-right: 10px; width: calc(100% - 200px); }

.main-container .app-database .col-wrap .left-col .inner-wrap { padding-left: 10px; }

.main-container .app-database .col-wrap .left-col .inner-wrap .description, .main-container .app-database .col-wrap .left-col .inner-wrap .goal { padding: 5px 0; margin-bottom: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.main-container .app-database .col-wrap .left-col .inner-wrap .description p, .main-container .app-database .col-wrap .left-col .inner-wrap .goal p { line-height: 1.4em; }

.main-container .app-database .col-wrap .left-col .inner-wrap .image { max-width: 250px; height: auto; overflow: hidden; margin: 5px 0 10px; }

.main-container .app-database .col-wrap .left-col .inner-wrap .image img { max-width: 100%; height: auto; position: relative; -webkit-transform: none; transform: none; border-radius: 0px; top: 0; left: 0; width: 100%; }

.main-container .app-database .col-wrap .left-col .inner-wrap .scope-info h4 { display: block; float: left; margin-right: 10px; font-size: 16px; font-family: myriadpro_bold, Arial, Helvetica, sans-serif; color: #333333; }

.main-container .app-database .col-wrap .left-col .inner-wrap .scope-info .sample { padding: 10px 0; }

.main-container .app-database .col-wrap .left-col .inner-wrap .scope-info .sample span { background-color: #333333; color: #ffffff; padding: 3px 5px; border-radius: 4px; font-size: 12px; display: inline-block; font-family: myriadpro_regular, Arial, Helvetica, sans-serif; line-height: 18px; }

.main-container .app-database .col-wrap .left-col .inner-wrap .scope-info .tags { padding: 10px 0; }

.main-container .app-database .col-wrap .left-col .inner-wrap .scope-info .tags ul { margin: 0 0 0 45px; padding: 0; display: block; }

.main-container .app-database .col-wrap .left-col .inner-wrap .scope-info .tags ul li { display: inline-block; background-color: #c2c2c2; color: #333333; padding: 3px 5px; border-radius: 4px; font-size: 12px; margin: 0 5px 5px 0; line-height: 18px; font-family: myriadpro_regular, Arial, Helvetica, sans-serif; }

.main-container .app-database .col-wrap .left-col .inner-wrap .scope-info .created { display: block; padding: 10px 0; }

.main-container .app-database .col-wrap .left-col .inner-wrap .scope-info .created svg { display: inline-block; vertical-align: middle; margin-left: 10px; width: 20px; height: 22px; }

.main-container .app-database .col-wrap .left-col .inner-wrap .scope-info .created p { display: inline-block; vertical-align: middle; }

.main-container .app-database .col-wrap .right-col { font-size: 16px; width: 200px; }

.main-container .app-database .col-wrap .right-col .inner-wrap { text-align: center; }

.main-container .app-database .col-wrap .right-col .inner-wrap a.product { display: block; text-decoration: none; margin: 0 auto; width: 150px; }

.main-container .app-database .col-wrap .right-col .inner-wrap a.product figure { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px; margin: 10px auto; display: inline-block; overflow: hidden; position: relative; }

.main-container .app-database .col-wrap .right-col .inner-wrap a.product figure:before { position: absolute; content: ''; width: 100%; height: 100%; background-color: #ffffff; top: 0; left: 0; z-index: 1; opacity: 0; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.main-container .app-database .col-wrap .right-col .inner-wrap a.product figure:hover:before { opacity: 1; }

.main-container .app-database .col-wrap .right-col .inner-wrap a.product figure:hover .caption { top: 50%; -webkit-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0); }

.main-container .app-database .col-wrap .right-col .inner-wrap a.product figure .caption { display: block; width: 100%; height: 100%; font-size: 14px; padding: 10px 5px; position: absolute; color: #4eb4d0; position: absolute; z-index: 2; left: 50%; top: 150%; -webkit-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0); -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-box-sizing: border-box; box-sizing: border-box; }

.main-container .app-database .col-wrap .right-col .inner-wrap a.product figure img { width: 100px; height: 100px; }

.main-container .app-database .col-wrap .overlay-bg { position: absolute; content: ''; top: 0; left: 100%; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.8); opacity: 0; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; z-index: 1; }

.main-container .app-database .col-wrap .overlay-bg.show { left: 0; opacity: 1; }

.main-container .app-database .col-wrap .download-form { position: absolute; background-color: #333333; width: calc(40% - 20px); height: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px 20px; top: 0; right: -100%; opacity: 0; z-index: 2; -webkit-transform: translateX(0); transform: translateX(0); -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }

.main-container .app-database .col-wrap .download-form.open { right: 0; opacity: 1; }

.main-container .app-database .col-wrap .download-form .close-pdf { position: absolute; top: 0; right: 0; opacity: 1; line-height: 16px; font-size: 16px; font-weight: 700; padding: 5px; cursor: pointer; text-align: center; color: #ffffff; }

.main-container .app-database .col-wrap .download-form .inner-wrap { padding-right: 15px; }

.main-container .app-database .col-wrap .download-form .inner-wrap h3 { padding-top: 10px; padding-bottom: 5px; margin-bottom: 5px; border-bottom: 1px solid #ffffff; font-size: 16px; font-weight: 300; color: #ffffff; }

.main-container .app-database .col-wrap .download-form .inner-wrap .no-account, .main-container .app-database .col-wrap .download-form .inner-wrap .have-account { margin-bottom: 15px; }

.main-container .app-database .col-wrap .download-form .inner-wrap .no-account p, .main-container .app-database .col-wrap .download-form .inner-wrap .have-account p { font-size: 14px; color: #ffffff; display: block; padding: 0; }

.main-container .app-database .col-wrap .download-form .inner-wrap .no-account .haveAccount-btn, .main-container .app-database .col-wrap .download-form .inner-wrap .no-account .createAccount-btn { display: inline; color: #66cbff; text-decoration: underline; background: none; border: none; outline: none; padding: 0; cursor: pointer; font-size: 14px; line-height: 1.42; }

.main-container .app-database .col-wrap .download-form .inner-wrap .have-account .haveAccount-btn, .main-container .app-database .col-wrap .download-form .inner-wrap .have-account .createAccount-btn { display: inline; color: #66cbff; text-decoration: underline; background: none; border: none; outline: none; padding: 0; cursor: pointer; font-size: 14px; line-height: 1.42; }

.main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login { width: 100%; float: left; }

.main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download .input-group, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login .input-group { display: inline-block; width: 100%; }

.main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download .input-group label, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login .input-group label { position: relative; font-size: 14px; width: 90%; color: #ffffff; }

.main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download .input-group label:before, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login .input-group label:before { content: '*'; position: absolute; right: -15px; top: 0; color: #ffffff; width: 10px; height: 10px; }

.main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download .input-group input, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login .input-group input { margin: 0 10px 10px 0; width: 90%; padding: 5px; display: block; height: 20px; font-size: 16px; font-weight: 100; font-family: "Open Sans", Arial, Helvetica, sans-serif; }

.main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download .input-group.submit .button, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login .input-group.submit .button { position: relative; border: none; -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); cursor: pointer; margin: 10px 0; display: block; width: 110px; color: #fff; display: block; overflow: hidden; padding: 8px 0; position: relative; text-decoration: none; line-height: 1; background: #007b33; }

.main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download .input-group.submit .button span, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login .input-group.submit .button span { font-size: 1.5em; line-height: 1em; padding: 0 10px; position: relative; right: 0; -webkit-transition: right 300ms ease; transition: right 300ms ease; }

.main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download .input-group.submit .button .icon, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login .input-group.submit .button .icon { top: 5px; border-left: 1px solid rgba(255, 255, 255, 0.3); bottom: 5px; display: inline-block; line-height: 22px; position: absolute; right: 0; text-align: center; -webkit-transition: all 300ms ease; transition: all 300ms ease; width: 35px; }

.main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download .input-group.submit .button .icon svg, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login .input-group.submit .button .icon svg { width: 20px; height: 18px; margin-top: 2px; }

.main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download .input-group.submit .button:after, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login .input-group.submit .button:after { content: ''; position: absolute; top: 0; bottom: 0; right: 0; left: 0; background-color: #fff; opacity: 0; -webkit-transition: opacity 300ms ease; transition: opacity 300ms ease; }

.main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download .input-group.submit .button:hover span, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login .input-group.submit .button:hover span { right: 100%; }

.main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download .input-group.submit .button:hover .icon, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login .input-group.submit .button:hover .icon { border-left: 0; font-size: 1.8em; width: 100%; }

.main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download .input-group.submit .button:hover:after, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login .input-group.submit .button:hover:after { opacity: .2; }

.main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download .input-group.submit a, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login .input-group.submit a { display: block; font-size: 14px; color: #ffffff; text-decoration: none; }

.main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download .input-group.submit a:hover, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login .input-group.submit a:hover { text-decoration: underline; }

#featuredApp { opacity: 1; }

#featuredApp h1 { color: #004989; }

#featuredApp.hideFeatured { opacity: 0; height: 0; }

#featuredApp .content #application-list .error { padding: 5px 10px; }

#featuredApp .content #application-list #application-list-results .application { cursor: pointer; overflow: visible; -webkit-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }

#featuredApp .content #application-list #application-list-results .application .info-wrapper { padding: 0; }

#featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info { padding: 0 0 10px 0; }

#featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info .title, #featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info .tags, #featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info .products-used, #featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info .goal { padding: 0 10px; }

#featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info .tags, #featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info .products-used, #featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info .goal { display: none; }

#featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info .images { display: block; max-height: 150px; margin: 5px; overflow: hidden; }

#featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info .images img { width: 100%; min-height: 150px; background-size: cover; }

#featuredApp .content #application-list #application-list-results .application.active { opacity: 0.5; cursor: default; }

#featuredApp .content #application-list #application-list-results .application.active a { cursor: default; }

#featuredApp .content #application-list #application-list-results .application:hover .info-wrapper .app-info { opacity: 1; }

#featuredApp .content #application-list #application-list-results .application:hover .info-wrapper .overlay { opacity: 0; }

#featuredApp .content #application-list #application-list-results .featured-item { position: relative; width: 98%; margin: 0 auto 25px; font-size: 0; position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; display: none; opacity: 0; -webkit-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out; }

#featuredApp .content #application-list #application-list-results .featured-item.active { display: block; opacity: 1; }

#featuredApp .content #application-list #application-list-results .featured-item .col { position: relative; display: inline-block; vertical-align: top; font-size: 16px; -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; }

#featuredApp .content #application-list #application-list-results .featured-item .left-col.col { width: 40%; background-size: cover; background-position: center center; }

#featuredApp .content #application-list #application-list-results .featured-item .left-col.col .title { position: absolute; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.8); padding: 10px; width: 100%; color: #ffffff; font-size: 14px; font-family: myriadpro_regular; z-index: 2; }

#featuredApp .content #application-list #application-list-results .featured-item .left-col.col .image { position: relative; width: 100%; height: 100%; font-size: 0; overflow: hidden; top: 0; left: 0; padding-bottom: 85%; z-index: 1; }

#featuredApp .content #application-list #application-list-results .featured-item .left-col.col .image img { position: absolute; width: 100%; -o-object-fit: cover; object-fit: cover; font-family: 'object-fit: cover'; top: 0; left: 0; -webkit-transform: none; transform: none; border-radius: 0px; }

#featuredApp .content #application-list #application-list-results .featured-item .right-col.col { width: 60%; color: #78777a; font-size: 14px; }

#featuredApp .content #application-list #application-list-results .featured-item .right-col.col .header { position: relative; font-size: 16px; margin: 10px 10px 0; padding: 0 0 5px 0; border-bottom: 1px solid #efefef; }

#featuredApp .content #application-list #application-list-results .featured-item .right-col.col .header .pdf { position: relative; float: right; color: #78777a; }

#featuredApp .content #application-list #application-list-results .featured-item .right-col.col .header .sample-type { font-family: myriadpro_bold; display: inline-block; color: #004989; line-height: 25px; }

#featuredApp .content #application-list #application-list-results .featured-item .right-col.col .inner-wrapper { line-height: 1.4em; padding: 10px; }

#featuredApp .content #application-list #application-list-results .featured-item .right-col.col .inner-wrapper strong { padding-right: 5px; color: #333333; }

#featuredApp .content #application-list #application-list-results .featured-item .right-col.col .inner-wrapper .info { margin: 5px 0; }

#featuredApp .content #application-list #application-list-results .featured-item .right-col.col .inner-wrapper .description { max-height: 100px; overflow: auto; }

#featuredApp .content #application-list #application-list-results .featured-item .right-col.col .inner-wrapper .description small { font-size: 10px; color: #004989; }

#application-list-results { position: relative; }

#application-list-results .tab-content-cms { padding: 0; }

#application-list-results ul { margin: auto; padding: 0; }

#application-list-results ul li.application { position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; width: 29.93%; margin: 1.5%; display: inline-block; vertical-align: top; overflow: hidden; -webkit-transition: all 0.3s ease-in; transition: all 0.3s ease-in; cursor: pointer; }

#application-list-results ul li.application .app-link.link-cover { position: relative; width: 100%; height: 100%; }

#application-list-results ul li.application a { text-decoration: none; }

#application-list-results ul li.application.cellular .header .sample-type:before, #application-list-results ul li.application.animal .header .sample-type:before, #application-list-results ul li.application.plant .header .sample-type:before, #application-list-results ul li.application.human .header .sample-type:before, #application-list-results ul li.application.food .header .sample-type:before, #application-list-results ul li.application.emulsion .header .sample-type:before { content: ''; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: url("../images/app-database-sprites-blue.png"); height: 25px; width: 28px; }

#application-list-results ul li.application.cellular .header .sample-type:before { background-position: 0 -21px; width: 23px; height: 20px; }

#application-list-results ul li.application.animal .header .sample-type:before { background-position: 0 0; width: 28px; height: 18px; }

#application-list-results ul li.application.plant .header .sample-type:before { background-position: 0 -45px; width: 22px; height: 23px; }

#application-list-results ul li.application.human .header .sample-type:before { background-position: 0 -70px; width: 25px; height: 25px; }

#application-list-results ul li.application.food .header .sample-type:before { background-position: -7px -98px; width: 12px; height: 26px; }

#application-list-results ul li.application.emulsion .header .sample-type:before { background-position: 0 -127px; width: 25px; height: 26px; }

#application-list-results ul li.application .header { color: #004989; text-align: left; padding: 5px 10px; }

#application-list-results ul li.application .header .sample-type { position: relative; text-align: left; padding-left: 45px; min-height: 25px; display: inline-block; vertical-align: middle; height: 100%; line-height: 25px; }

#application-list-results ul li.application .header .pdf { color: #78777a; float: right; height: 25px; }

#application-list-results ul li.application .header .pdf svg { width: 25px; }

#application-list-results ul li.application .info-wrapper { position: relative; width: 100%; height: 100%; overflow: hidden; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }

#application-list-results ul li.application .info-wrapper .app-info { opacity: 1; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; text-align: center; color: #333333; }

#application-list-results ul li.application .info-wrapper .app-info .created, #application-list-results ul li.application .info-wrapper .app-info .pdf, #application-list-results ul li.application .info-wrapper .app-info .images { display: none; }

#application-list-results ul li.application .info-wrapper .app-info .title, #application-list-results ul li.application .info-wrapper .app-info .goal, #application-list-results ul li.application .info-wrapper .app-info .tags, #application-list-results ul li.application .info-wrapper .app-info .products-used { text-align: left; }

#application-list-results ul li.application .info-wrapper .app-info .title span, #application-list-results ul li.application .info-wrapper .app-info .goal span, #application-list-results ul li.application .info-wrapper .app-info .tags span, #application-list-results ul li.application .info-wrapper .app-info .products-used span { display: inline-block; font-family: myriadpro_bold; font-size: 16px; }

#application-list-results ul li.application .info-wrapper .app-info .title h3, #application-list-results ul li.application .info-wrapper .app-info .title h4, #application-list-results ul li.application .info-wrapper .app-info .title p { display: inline; vertical-align: middle; font-size: 14px; font-family: myriadpro_regular; font-weight: normal; }

#application-list-results ul li.application .info-wrapper .app-info .goal h3, #application-list-results ul li.application .info-wrapper .app-info .goal h4, #application-list-results ul li.application .info-wrapper .app-info .goal p { display: inline; vertical-align: middle; font-size: 14px; font-family: myriadpro_regular; font-weight: normal; }

#application-list-results ul li.application .info-wrapper .app-info .tags h3, #application-list-results ul li.application .info-wrapper .app-info .tags h4, #application-list-results ul li.application .info-wrapper .app-info .tags p { display: inline; vertical-align: middle; font-size: 14px; font-family: myriadpro_regular; font-weight: normal; }

#application-list-results ul li.application .info-wrapper .app-info .products-used h3, #application-list-results ul li.application .info-wrapper .app-info .products-used h4, #application-list-results ul li.application .info-wrapper .app-info .products-used p { display: inline; vertical-align: middle; font-size: 14px; font-family: myriadpro_regular; font-weight: normal; }

#application-list-results .featured-item .right-col .inner-wrapper .view-note a { font-weight: bold; }

#application-list-results ul li.application .info-wrapper .app-info .title { font-size: 14px; line-height: 1.5em; padding-bottom: 5px; }

#application-list-results ul li.application .info-wrapper .app-info .goal { border-top: 1px solid #cecece; padding: 10px 0; }

#application-list-results ul li.application .info-wrapper .app-info .products-used { padding: 10px 0; border-top: 1px solid #cecece; }

#application-list-results ul li.application .info-wrapper .app-info .products-used ul { margin: 0; padding: 0; }

#application-list-results ul li.application .info-wrapper .app-info .products-used ul li { list-style: none; display: inline-block; margin: 0; font-size: 12px; }

#application-list-results ul li.application .info-wrapper .app-info .tags { border-top: 1px solid #cecece; padding: 10px 0; }

#application-list-results ul li.application .info-wrapper .app-info .tags ul { margin: 0; padding: 0; display: inline; font-size: 0; }

#application-list-results ul li.application .info-wrapper .app-info .tags ul li { display: inline-block; font-size: 12px; background-color: #cecece; margin: 0 2px 2px 2px; color: #333333; line-height: 18px; border-radius: 3px; padding: 0 3px; }

#application-list-results ul li.application .info-wrapper .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); z-index: 1; opacity: 0; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

#application-list-results ul li.application .info-wrapper .overlay .inner-wrapper { position: relative; z-index: 2; overflow: hidden; width: 100%; height: 100%; color: #66cbff; padding: 10px; text-align: left; opacity: 0; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-transition-delay: 0.2s; transition-delay: 0.2s; }

#application-list-results ul li.application .info-wrapper .overlay .inner-wrapper h4 { margin: 10px 0 5px 0; padding: 0; color: #ffffff; display: inline-block; }

#application-list-results ul li.application .info-wrapper .overlay .inner-wrapper .view-note { padding-bottom: 10px; border-bottom: 1px solid #ffffff; text-align: center; }

#application-list-results ul li.application .info-wrapper .overlay .inner-wrapper .view-note a { display: inline-block; color: #333333; text-shadow: 1px 1px rgba(255, 255, 255, 0.6); letter-spacing: 0.1em; padding: 5px 10px; cursor: pointer; background-color: #ffffff; margin: 5px; text-decoration: none; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

#application-list-results ul li.application .info-wrapper .overlay .inner-wrapper .view-note a:hover { background-color: #e6e6e6; }

#application-list-results ul li.application .info-wrapper .overlay .inner-wrapper .tags ul { margin: 0; padding: 0; display: inline; }

#application-list-results ul li.application .info-wrapper .overlay .inner-wrapper .tags ul li { display: inline-block; font-size: 12px; background-color: #66cbff; color: #333333; line-height: 16px; border-radius: 3px; padding: 0 3px; }

#application-list-results ul li.application .info-wrapper .overlay .inner-wrapper .created span { font-size: 12px; }

.application-left .application-filter #extraButtons { padding: 0 12px; margin-top: 0; }

.application-left .application-filter #extraButtons li { width: auto; }

.application-left .application-filter #extraButtons .clearSearch, .application-left .application-filter #extraButtons .showFeat { margin-bottom: 10px; display: block; width: 100%; font-weight: bold; opacity: 1; }

.application-filter-elements.minimize ul li .content { display: none; }

.application-filter-elements ul { margin: 0; padding: 0; list-style: none; }

.application-filter-elements ul li label { position: relative; border-bottom: 1px solid #333333; padding-bottom: 5px; color: #333333; display: block; }

.application-filter-elements ul li label:before { position: absolute; content: ''; width: 20px; height: 12px; background: url("https://www.omni-inc.com/skin/frontend/default/omnicom/images/down-caret2.svg"); top: 50%; right: 0; -webkit-transform: translate3d(0, -50%, 0); transform: translate3d(0, -50%, 0); }

.application-filter-elements ul li .content ul { margin-top: 10px; margin-left: 5px; }

.application-filter-elements ul li .content ul li { padding: 5px 0; line-height: 15px; font-size: 14px; cursor: pointer; color: #333333; }

.application-filter-elements ul li .content ul li.checked button { opacity: 1; background-color: #66cbff; }

.application-filter-elements ul li .content ul li.checked button span.check { opacity: 1; }

.application-filter-elements ul li .content ul li.checked button span.x { opacity: 0; }

.application-filter-elements ul li .content ul li:hover button { color: #333333; outline: none; background-color: #66cbff; opacity: 1; -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.application-filter-elements ul li .content ul li span { position: relative; vertical-align: middle; }

.application-filter-elements ul li .content ul li button { position: relative; margin-right: 5px; margin-top: -5px; height: 20px; width: 20px; border: 1px solid #ffffff; padding: 0; display: inline-block; vertical-align: top; font-size: 12; line-height: 12px; color: #333333; background: transparent; border: solid 1px #66cbff; opacity: 1; cursor: pointer; text-decoration: none; text-transform: uppercase; font-weight: 800; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

.application-filter-elements ul li .content ul li button span { position: absolute; top: 50%; left: 50%; -webkit-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0); }

.application-filter-elements ul li .content ul li button span.check, .application-filter-elements ul li .content ul li button span.x { opacity: 0; }

.application-search { -webkit-font-smoothing: antialiased; }

.application-search .application-search-bar { display: block; position: relative; font-size: 0; }

.application-search .application-search-bar .btn-update { position: relative; display: inline-block; -webkit-box-sizing: border-box; box-sizing: border-box; background: #004989; border: none; border-top-right-radius: 4px; border-bottom-right-radius: 4px; width: 70px; font-size: 14px; margin: 0; outline: none; vertical-align: top; cursor: pointer; height: 45px; padding: 0; }

.application-search .application-search-bar .btn-update:hover { background-color: #01366a; }

.application-search .application-search-bar .btn-update svg { position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; -webkit-transform: translate(-250%, -50%); transform: translate(-250%, -50%); -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; width: 25px; height: auto; opacity: 1; fill: #ffffff; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.application-search .application-search-bar input:-webkit-autofill, .application-search .application-search-bar textarea:-webkit-autofill, .application-search .application-search-bar select:-webkit-autofill { background-color: #faffbd; background-image: none; color: black; }

.application-search .application-search-bar .input-text { height: 45px; min-width: 250px; width: calc(100% - 314px); font-size: 16px; border: 1px solid #d7d7e2; padding-left: 15px; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: top; outline: none; }

.application-search .application-search-bar .input-group-btn { position: relative; display: inline-block; margin-right: -6px; vertical-align: top; font-size: 16px; }

.application-search .application-search-bar .input-group-btn .dropdown-toggle { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.application-search .application-search-bar .input-group-btn.open .dropdown-menu { display: block; }

.application-search .application-search-bar .input-group-btn button { display: inline-block; outline: none; height: 45px; padding: 6px 12px; width: 250px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid #d7d7e2; position: relative; color: #333333; background-color: #ffffff; }

.application-search .application-search-bar .input-group-btn button .text { text-transform: capitalize; }

.application-search .application-search-bar .input-group-btn button .caret { display: inline-block; width: 0; height: 0; margin-left: 2px; vertical-align: middle; border-style: solid; border-width: 4px 4px 0 4px; border-color: #000 transparent transparent transparent; }

.application-search .application-search-bar .input-group-btn .dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0; margin: 0; font-size: 14px; text-align: left; list-style: none; background-color: #ffffff; background-clip: padding-box; border: 1px solid #d7d7e2; border-radius: 4px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.application-search .application-search-bar .input-group-btn .dropdown-menu li a { display: block; padding: 3px 20px; clear: both; font-weight: 400; line-height: 1.42857143; color: #333333; white-space: nowrap; }

.application-search .application-search-bar .dropdown-menu > li > a { display: block; padding: 3px 20px; clear: both; font-weight: 400; line-height: 1.42857143; color: #333; white-space: nowrap; text-decoration: none; }

.application-result { display: block; }

.application-result .application-result-bar { position: relative; margin: 0 0 10px; font-size: 0; color: #333333; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.application-result .application-result-bar .sample-type, .application-result .application-result-bar .search-term, .application-result .application-result-bar .product-type { position: relative; display: inline-block; list-style: none; color: #78777a; margin: 0; height: 25px; line-height: 25px; padding: 0; font-size: 14px; text-align: center; display: none; }

.application-result .application-result-bar .sample-type.show, .application-result .application-result-bar .search-term.show, .application-result .application-result-bar .product-type.show { display: inline-block; }

.application-result .application-result-bar .sample-type .label, .application-result .application-result-bar .search-term .label, .application-result .application-result-bar .product-type .label { display: inline-block; color: #333333; font-size: 16px; font-family: myriadpro_bold; }

.application-result .application-result-bar .sample-type .value, .application-result .application-result-bar .search-term .value, .application-result .application-result-bar .product-type .value { display: inline-block; font-family: myriadpro_regular; padding-right: 10px; }

.application-result #application-search-results { position: relative; -webkit-transition: opacity 0.2s ease-out; transition: opacity 0.2s ease-out; }

.application-result #application-search-results .message { position: absolute; top: 0; left: 0; width: 100%; height: auto; padding: 10px; background-color: rgba(213, 47, 47, 0.8); color: #ffffff; font-weight: bold; text-align: center; }

.application-loader { text-align: center; padding: 20px; }

.application-loader strong { display: block; }

.application-loader #omni-spin { max-width: 50px; height: auto; -webkit-animation-name: rotate; animation-name: rotate; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: linear; animation-timing-function: linear; }

@-webkit-keyframes rotate { from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); } } 

@media only screen and (max-width: 979px) { .ey-applications-application-index .col-main { padding-top: 0; }
  #application-search-form .sidebar { margin-bottom: 0; }
  #application-list-results ul .application { width: 46%; margin: 1.5%; }
  .application-left .application-filter #extraButtons { margin-top: 0; }
  .application-left .application-filter #extraButtons li { width: 49%; display: inline-block; }
  .application-left .application-filter #extraButtons li .btn-checkbox { width: 100%; text-align: center; margin-bottom: 0; padding: 5px 10px; }
  .application-left .application-filter-elements { padding: 0; }
  .application-left .application-filter-elements ul li { padding: 10px; background-color: #cecece; cursor: pointer; }
  .application-left .application-filter-elements ul li label { padding-bottom: 0; border-bottom: none; cursor: pointer; }
  .application-left .application-filter-elements ul li .content { display: none; background-color: #ffffff; }
  .application-left .application-filter-elements ul li .content ul { padding: 10px 5px; }
  .application-left .application-filter-elements ul li .content ul li { background-color: #ffffff; padding: 10px 0; width: 48%; display: inline-block; } }

@media only screen and (max-width: 870px) { .main-container #nav-block .col.chat-live { display: none; }
  .main-container #nav-block .col.back, .main-container #nav-block .col.contact-us { width: 50%; }
  .main-container #nav-block .col.back span.large, .main-container #nav-block .col.contact-us span.large { display: none; }
  .main-container #nav-block .col.back span.small, .main-container #nav-block .col.contact-us span.small { display: inline-block; } }

@media only screen and (max-width: 730px) { #featuredApp .content #application-list #application-list-results ul { margin: 25px 0; }
  #featuredApp .content #application-list #application-list-results .application { width: 100%; margin: 20px 0; display: block; }
  #featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info { padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 0; }
  #featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info .images { display: inline-block; width: 40%; vertical-align: top; margin-bottom: 0; }
  #featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info .title { padding: 10px; display: inline-block; width: 60%; vertical-align: top; }
  #featuredApp .content #application-list #application-list-results .application.active:after { display: none; }
  #featuredApp .content #application-list #application-list-results .featured-item .left-col.col { width: 100%; max-height: 150px; }
  #featuredApp .content #application-list #application-list-results .featured-item .left-col.col .image { padding-bottom: 45%; }
  #featuredApp .content #application-list #application-list-results .featured-item .right-col.col { width: 100%; }
  .main-container .app-database .col-wrap .col h2 { text-align: left; }
  .main-container .app-database .col-wrap .download-form, .main-container .app-database .col-wrap .left-col { width: 100%; }
  .main-container .app-database .col-wrap .right-col { width: 100%; }
  .main-container .app-database .col-wrap .right-col .inner-wrap { padding: 0; }
  .main-container .app-database .col-wrap .right-col .inner-wrap a.product { display: inline-block; }
  .main-container #nav-block .col.back, .main-container #nav-block .col.chat-live { width: 50%; }
  .main-container .app-database .header .left-header-info { width: 100%; }
  .main-container .app-database .header .right-header-info { display: none; }
  .application-search .application-search-bar .input-group-btn { position: relative; display: block; max-width: 100%; }
  .application-search .application-search-bar .input-group-btn .dropdown-toggle { width: 100%; text-align: left; display: block; }
  .application-search .application-search-bar .input-group-btn .dropdown-toggle .caret { float: right; margin-top: 10px; }
  .application-search .application-search-bar .input-text { width: calc(100% - 70px); }
  .application-header-image { display: none; }
  #application-search-results #application-list-results ul .application { width: 96%; margin: 2%; } }

@media only screen and (max-width: 630px) { .application-search .application-search-bar .input-group-btn { display: none; }
  #featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info .goal, #featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info .products-used, #featuredApp .content #application-list #application-list-results .application .info-wrapper .app-info .tags { display: none; }
  .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download .input-group.submit .button, .main-container .app-database .col-wrap .download-form .inner-wrap #app-pdf-download-login .input-group.submit .button { width: 90%; } }

/* ===============  Fonts  =============== */
@font-face { font-family: myriadpro_regular; src: url(../webfonts/MyriadPro-Regular.eot); src: url(../webfonts/MyriadPro-Regular.eot?#iefix) format("embedded-opentype"), url(../webfonts/MyriadPro-Regular.woff) format("woff"), url(../webfonts/MyriadPro-Regular.ttf) format("truetype"), url(../webfonts/MyriadPro-Regular.svg#myriadpro) format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: myriadpro_italic; src: url(../webfonts/MyriadPro-It.eot); src: url(../webfonts/MyriadPro-It.eot?#iefix) format("embedded-opentype"), url(../webfonts/MyriadPro-It.woff) format("woff"), url(../webfonts/MyriadPro-It.ttf) format("truetype"), url(../webfonts/MyriadPro-It.svg#myriadpro_italic) format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: myriadpro_light; src: url(../webfonts/myriadpro-light-webfont.eot); src: url(../webfonts/myriadpro-light-webfont.eot?#iefix) format("embedded-opentype"), url(../webfonts/myriadpro-light-webfont.woff) format("woff"), url(../webfonts/myriadpro-light-webfont.ttf) format("truetype"), url(../webfonts/myriadpro-light-webfont.svg#myriadpro_light) format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: myriadpro_bold; src: url(../webfonts/myriadpro-bold-webfont.eot); src: url(../webfonts/myriadpro-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../webfonts/myriadpro-bold-webfont.woff) format("woff"), url(../webfonts/myriadpro-bold-webfont.ttf) format("truetype"), url(../webfonts/myriadpro-bold-webfont.svg#myriadpro_bold) format("svg"); font-weight: normal; font-style: normal; }
