<?xml version="1.0"?>
<config>
    <modules>
        <Ey_Core>
            <version>0.0.1</version>
        </Ey_Core>
    </modules>
    <global>
        <helpers>
            <ey_core>
                <class>Ey_Core_Helper</class>
            </ey_core>
        </helpers>
        <models>
            <ey_core>
                <class>Ey_Core_Model</class>
            </ey_core>
        </models>
        <blocks>
            <ey_core>
                <class>Ey_Core_Block</class>
            </ey_core>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Ey_Core_Block_Frontend_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
        </blocks>
    </global>
    <frontend>
        <routers>
            <ey_core>
                <use>standard</use>
                <args>
                    <module>Ey_Core</module>
                    <frontName>ey</frontName>
                </args>
            </ey_core>
        </routers>
        <layout>
            <updates>
                <ey_core>
                    <file>ey.xml</file>
                </ey_core>
            </updates>
        </layout>
        <!--Enable secure URL on Shopping Cart-->
        <secure_url>
            <checkout_cart>/checkout/cart</checkout_cart>
            <checkout>/checkout/cart</checkout>
        </secure_url>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <ey_core_catalog_product_view>
                        <type>model</type>
                        <class>Ey_Core_Model_Observer</class>
                        <method>catalogProductView</method>
                    </ey_core_catalog_product_view>
                </observers>
            </catalog_controller_product_view>
            <customer_login>
                <observers>
                    <ey_core_customer_login>
                        <type>model</type>
                        <class>Ey_Core_Model_Observer</class>
                        <method>customerLogin</method>
                    </ey_core_customer_login>
                </observers>
            </customer_login>
            <customer_save_after>
                <observers>
                    <ey_core_customer_save_after>
                        <type>model</type>
                        <class>Ey_Core_Model_Observer</class>
                        <method>afterCustomerSave</method>
                    </ey_core_customer_save_after>
                </observers>
            </customer_save_after>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>EY</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ey_core>
                                            <title>EY - All</title>
                                        </ey_core>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>