<?xml version="1.0"?>
<config>
    <modules>
        <Ey_Applications>
            <version>0.0.8</version>
        </Ey_Applications>
    </modules>
    <global>
        <helpers>
            <ey_applications>
                <class>Ey_Applications_Helper</class>
            </ey_applications>
        </helpers>
        <models>
            <ey_applications>
                <class>Ey_Applications_Model</class>
                <resourceModel>ey_applications_resource</resourceModel>
            </ey_applications>
            <ey_applications_resource>
                <class>Ey_Applications_Model_Resource</class>
                <entities>
                    <application>
                        <table>ey_applications_application</table>
                    </application>
                    <product>
                        <table>ey_applications_product</table>
                    </product>
                    <tag>
                        <table>ey_applications_tag</table>
                    </tag>
                    <type>
                        <table>ey_applications_type</table>
                    </type>
                    <sampletype>
                        <table>ey_applications_sampletype</table>
                    </sampletype>
                    <file>
                        <table>ey_applications_file</table>
                    </file>
                    <fileapp>
                        <table>ey_applications_fileapp</table>
                    </fileapp>
                    <customer>
                        <table>ey_applications_customer</table>
                    </customer>
                </entities>
            </ey_applications_resource>
        </models>
        <blocks>
            <ey_applications>
                <class>Ey_Applications_Block</class>
            </ey_applications>
        </blocks>
        <resources>
            <ey_applications_setup>
                <setup>
                    <module>Ey_Applications</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ey_applications_setup>
            <ey_applications_setup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ey_applications_setup_write>
            <ey_applications_setup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ey_applications_setup_read>
        </resources>
        <template>
            <email>
                <new_application_notification>
                    <label>New Application Notification</label>
                    <file>new_application.html</file>
                    <type>text</type>
                </new_application_notification>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <ey_applications>
                <use>standard</use>
                <args>
                    <module>Ey_Applications</module>
                    <frontName>application</frontName>
                </args>
            </ey_applications>
        </routers>
        <layout>
            <updates>
                <ey_applications>
                    <file>applications.xml</file>
                </ey_applications>
            </updates>
        </layout>
        <events>
            <application_download_after>
                <observers>
                    <app_download_after>
                        <type>model</type>
                        <class>Ey_Applications_Model_Observer</class>
                        <method>afterFileDownloaded</method>
                    </app_download_after>
                </observers>
            </application_download_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ey_Applications before="Mage_Adminhtml">Ey_Applications_Adminhtml</Ey_Applications>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <applications>
                    <file>ey/applications.xml</file>
                </applications>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>EY</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ey_applications>
                                            <title>EY - Applications</title>
                                        </ey_applications>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>